/*our css style sheet*/

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  font: 15px "Montserrat", sans-serif;
}

marquee {
  font-size: 40px;
  font: "Montserrat", sans-serif;
  color: *#015965
  /*#015965 this hex is a slightly transparent blue color*/
}

.navbar-nav li a:hover {
  color: #1abc9c; !important;
}


/* Add a gray background color and some padding to the footer */

footer {
  background-color: #f2f2f2;
  padding: 15px;
}
.center {
  opacity: 0;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 18px;
}

.container1 {
  position: relative;
/*  margin-left:-500px;*/
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }

/*academic stuff*/

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 450px}

/* Set gray background color and 100% height */
 .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
}

 /* Set black background color, white text and some padding */

 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
  .sidenav {
    	height: auto;
    	padding: 15px;
}

#college {
  left: 250px;
}

#imgs img{display: inline-block;}

 .row.content {height:auto;}

 #text1 {
   margin-top: -125px;
   margin-left: -250px;
 }
 #text2 {
   margin-top: -125px;
 }
 #text3 {
   margin-top: 125px;
   margin-left: 250px;
 }
