/*our css style sheet*/

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  font: 15px "Montserrat", sans-serif;
}

marquee {
  font-size: 40px;
  font: "Montserrat", sans-serif;
  color: #015965; /*slightly transparent blue color*/

}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}


.carousel-inner img {
  width: 100%;
  /* Set width to 100% */
  margin: auto;
  min-height: 200px;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#dropDownButton{
  padding: 10px 25px;
  background-color: #015965;
  border-style: none;
  font: 15px "Montserrat", sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#dropDownButton:hover {
    background-color: #f9defd; /* Green */
    color: white;
}

#collegeDiv{
  margin-right: 0px;
  padding-right: 0px;
}

#wellDiv{
  margin-right: 0px;
  padding-right: 0px;
}

#collegeHead{
  font: "Montserrat", sans-serif;
  color: #015965;
}

.bg-1{
  /*this is the container for the images and college list*/
  background-color: #111f5a;
  color: #111f5a;
}

.bg-2{
  /*this is the container for the about me section and images*/
  /*background-color: #111f5a;
  color: #111f5a;*/
}

#IMG1, #IMG2, #IMG3{


  border-radius: 0px;
  border-width: thick;
  border-style: groove;
  border-color: #f9defd;
}

.bg-4 {
    background-color: #015965;
    color: #ffffff;
    padding: 30px;
    margin-top: 30px;

}
