{% extends "layout.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{url_for ('static',footballGame.jpg='myjs.js')}}" alt="football Game">
        <div class="carousel-caption">
          <h3>Football Game</h3>
          <p>One of my Favorite Activities!</p>
        </div>
      </div>

      <div class="item">
        <img src="baseballTeam.jpg" alt="Baseball Team">
        <div class="carousel-caption">
          <h3>The Team</h3>
          <p>12 Inning Win!</p>
        </div>
      </div>

      <div class="item">
        <img src="CostaRica.jpg" alt="Costa Rica">
        <div class="carousel-caption">
          <h3>Costa Rica</h3>
          <p>Hiking during down time</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- This is the images and college list in the middle container -->
  <div class="container-fluid bg-1 text-center">

    <!-- drop down button -->
    <center>
      <button id="dropDownButton" type="button" class="btn btn-info" data-toggle="collapse" data-target="#explanation">About this website</button>
      <div id="explanation" class="collapse">
        I created this website to showcase who I am as a student and what I have accomplished throughtout my academic career as well as give colleges another perspective as to who I am as a person outside of school as well. It's goal is to use my computer science
        skills to show off who I am as a student, athlete, and person.
      </div>
    </center>

    <!-- left well -->
    <div class="col-sm-9">
    </div>
    <div class="col-sm-4" id="collegeDiv">
      <div class="well" id="leftWell">
        <h3 id="myGoal">My College Goal</h3>
        <p>
          My college goal is centered around the two ideas that are most important to me. First I want to further my passion for computer science and math and gain a world class education as I continue to explore my passions. The thing that I value second from
          my school experience is school spirit. As I continue to work extremely hard I also want achieve my academic goals while maintaining the most school spirit possible. I love football games, pep rallies, school events, and want to be proud and
          serve my school just as it serves me.
        </p>
      </div>
    </div>

    <!-- BIO SECTION -->
    <div class="col-sm-4">
      <center>
    <a href="http://sbhs.sbunified.org"> <img src="logo.jpeg" class="img-responsive" style="width:60%" style="height:60%" alt="Logo"></a>
    </center>
      <!-- <h3 id="BIO">BIO</h3> -->
      <!-- <p id="bioP">My name is michael moschitto and I am a prospective computer science student. I have taken three years of languages and know java, swift, phython, javascript, and html/webdesign.</p> -->
    </div>
    <div class="col-sm-4" id="collegeDiv">
      <div class="well">
        <h3 id="collegesImInteresedIn">Colleges I'm interested in</h3>
        <p>
          Stanford, Berkley, Ucla, Vanderbilt, UW, UPenn, Michigan, Northwestern, Georgia Tech, UVA,
        </p>
      </div>
    </div>
  </div>
  </div>


  <!-- about me pictures and the captions that go along with them -->
  <div class="container-fluid bg-2 text-center">
    <div class="row">
      <div class="col-sm-4" id="surfingdiv">
        <button id="wavebutton" type="button" class="btn btn-info" data-toggle="collapse" data-target="#oceanExplanation">The Ocean</button>
        <div id="oceanExplanation" class="collapse">
          When I'm not in the mountains I love to take pictures in the ocean. I'm not a huge surfer but I love being out in the waves and feeling the oceans power. I love it because it makes me feel small and powerless against the current, it reminds
            me that I'm human.
        </div>
        <img id="surfing" src="surfing.jpg" alt="surfing" class="bottom" class="img-responsive " style="width:80%" style="height:80%">
        <img id="surfing2" src="turtle.jpg" alt="surfing2" class="top" class="img-responsive" style="width:80%" style="height:80%">
        <!-- <br> -->
        <!-- <h4 id="theWaves">The Waves</h4> -->

      </div>
      <div class="col-sm-4" id="baseballdiv">
        <!-- <h4 id="team">The Team</h4> -->
        <button id="baseballButton" type="button" class="btn btn-info" data-toggle="collapse" data-target="#baseballExplanation">The Team</button>
        <div id="baseballExplanation" class="collapse">
          Baseball has been very influencial in my highschool experience. I may not have been able to achieve my major league dreams but the sense of community, my teammates, and the work ethic and determination that I learned on the diamond will never
            leave me.
        </div>
        <img id="baseball2" src="baseball2.jpg" alt="baseball 2" class="bottom" class="image-responsive" style="width:90%" style="height:100%">
        <img id="baseball" src="baseball.jpg" alt="baseball" class="top" class="image-responsive" style="width:90%" style="height:100%">

        <!-- <br> -->
      </div>
      <div class="col-sm-4 " id="bikeDiv">
        <button id="mountainButton" type="button" class="btn btn-info" data-toggle="collapse" data-target="#mountainExplanation">The Mountains</button>
        <div id="mountainExplanation" class="collapse">
          One of my favorite things to do is to mountain bike with my friends. If I am every stressed or just need to get away I take my bike to the mountains. The adrenaline of ripping down a dusty trail has a calming effect on me, and I love spending
            an hour without time to think. Its my version of meditation.
        </div>
        <img id="scottnMe" src="skiing.png" alt="skiing" class="bottom" class="image-responsive" style="width:80%" style="height:100">
        <img id="biking2" src="biking2.jpg" alt="biking 2" class="top" class="image-responsive" style="width:80%" style="height:100%">

        <!-- <h4 id="mountainBiking">Mountain biking</h4> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}


  
